<script type="text/javascript">
    var myDropZone;
$(document).ready(function() {
    $("#upload1").dropzone({
        init: function () {
            //var dropzone = this;
            myDropZone = this;
            console.log( "Init my drop" );
            clearDropzone = function(){
                dropzone.removeAllFiles(true);
            };
            this.on("complete", function(file) {
              this.removeFile(file);
            });
        },
        url: "/projects?a=upload_file",
        clickable: true,
    });
});

function add_class(project_id)
{
    save_method = 'add';
    $('#form2')[0].reset(); // reset form on modals
    $('[name="project_id"]').val(project_id);
    $('[name="project_name"]').trigger( "focus" )
	$('.form-group').removeClass('has-error'); // clear error class
    $('.help-block').empty(); // clear error string
    $('#modal_form_class').modal(
        {backdrop: 'static', keyboard: false},
        'show'); // show bootstrap modal
    $('.modal-title').text('Add Class to Project'); // Set Title to Bootstrap modal title
    $('#btnSaveClass').attr('disabled', false); //set button enable
    $("#upload1").parent().hide();
    $(".dz-default").hide();
    $(".dz-hidden-input").prop("disabled",false);
}
function edit_class(class_id)
{
    $("#upload1").parent().show();
    $(".dz-default").show();
    $(".dz-preview").html("");
    save_method = 'update';
    $('#form2')[0].reset(); // reset form on modals
    $('.form-group').removeClass('has-error'); // clear error class
    $('.help-block').empty(); // clear error string
    //Ajax Load data from ajax
    $.ajax({
		url : "projects?a=edit_class"+"&id="+class_id,
        type : "POST",
		data:{
			sessionId: $("#sessionId").val()
		},
        dataType: "JSON",
        success: function(data) {
            console.log( data );
            //
            $('[name="id"]').val(data.class_id);
            $('[name="class_name"]').val(data.class_name);
            //
            $('#modal_form_class').modal(
                {backdrop: 'static', keyboard: false},
                'show'
                ); // show bootstrap modal when complete loaded
            $('.modal-title').text('Edit Class'); // Set title to Bootstrap modal title
        },
        error: function(jqXHR, textStatus, errorThrown) {
            alert('Error when get data');
        }
    });
}
function saveClass()
{
	if( $('[name="class_name"]').val().length==0){
		$('[name="class_name"]').parent().parent().addClass('has-error');
		$('[name="class_name"]').next().text("[class_name]: Invalid");
		return;
	}
	else{
		$('[name="class_name"]').parent().parent().removeClass('has-error');
		$('[name="class_name"]').next().text("");
	}
    $('#btnSaveClass').text('Saving...'); //change button text
    $('#btnSaveClass').attr('disabled', true); //set button disable
    var url;
    if(save_method == 'add') {
        url = "/projects?a=add_class";
    } else {
        url = "/projects?a=update_class";
    }
    // ajax adding data to database
    $.ajax({
        url: url,
        type: "POST",
        data: $('#form2').serialize()+"&sessionId="+$("#sessionId").val(),
        dataType: "JSON",
        success: function(data) {
            if (data.status) //if success close modal and reload ajax table
            {
                $('#modal_form_class').modal('hide');
                reload_table();
            } else {
                for (var i = 0; i < data.inputerror.length; i++) {
                    //select parent twice to select div form-group class and add has-error class
                    $('[name="' + data.inputerror[i] + '"]').parent().parent().addClass('has-error');
                    //select span help-block class set text error string
                    $('[name="' + data.inputerror[i] + '"]').next().text(data.error_string[i]);
                }
            }
            $('#btnSaveClass').text('Save'); //change button text
            $('#btnSaveClass').attr('disabled', false); //set button enable
        },
        error: function(jqXHR, textStatus, errorThrown) {
            alert('Error edit data');
            $('#btnSaveClass').text('Save'); //change button text
            $('#btnSaveClass').attr('disabled', false); //set button enable
        }
    });
}
function delete_class(id) {
    if (confirm('Are you sure to delete class - and all images inside ?')) {
        // ajax delete data to database
        $.ajax({
			url : "/projects?a=delete_class" + "&id="+id,
            type : "POST",
			data:{
				sessionId: $("#sessionId").val()
			},
            dataType: "JSON",
            success: function(data) {
                //if success reload ajax table
                $('#modal_form').modal('hide');
                reload_table();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert('Error delete data');
            }
        });
    }
}
function delete_image(id) {
    if (confirm('Are you sure to delete all images in this class ?')) {
        // ajax delete data to database
        $.ajax({
			url : "/projects?a=delete_class_images" + "&id="+id,
            type : "POST",
			data:{
				sessionId: $("#sessionId").val()
			},
            dataType: "JSON",
            success: function(data) {
                reload_table();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert('Error delete data');
            }
        });
    }
}
</script>

<div class="modal fade" id="modal_form_class" role="dialog">
    <div class="modal-dialog modal-xl ">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Form</div>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body form">
                <form action="/projects?a=upload_file" class="form-horizontal dropzone" id="form2" name="form2">
                    <input name="project_id" type="hidden" value="">
                    <input name="id" type="hidden" value="">
                    <div class="form-body">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">ClassName</label>
                            <div class="col-sm-9">
                                <input type="text" name="class_name" id="class_name" class="form-control" maxlength="20" placeHolder=""/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">Add Training Images to Class (Drag and Drop image list)</label>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10" id="upload1">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" type="button"><i class="fas fa-close"></i> Cancel</button>
                <button class="btn btn-primary" id="btnSaveClass" onclick="saveClass()" type="button"><i class="fas fa-save"></i> Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->